@charset "UTF-8";

body {
    height: 500vh;
    background-image: url(imagens/wallpaper006.jpg);
    background-color: black;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

main {
    height: 100vh;
    padding: 30px;
    border: 2px solid rgba(0, 0, 0, 0.315);
    background-color: rgba(202, 202, 202, 0.425);
    max-width: 600px;
    position: absolute;
    border-radius: 20px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

main h1 {
    text-align: center;
}

main p {
    text-align: justify;
}

main img {
    margin: auto;
    display: block;
    height: 250px;
}
   