@charset "UTF-8";

body {
    background-image: url(imagens/wallpaper006.jpg);
    background-color: black;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

main {
    
    padding: 30px;
    border: 2px solid rgba(0, 0, 0, 0.315);
    background-color: rgba(202, 202, 202, 0.425);
    max-width: 600px;
    border-radius: 20px;
   
}

main h1 {
    text-align: center;
}

main p {
    text-align: justify;
    
    
}

main img {
    margin: auto;
    display: block;
    max-height: 300px;
    min-height: 200px;
    display: block;
    margin: auto;
}
   