@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FF6B1A, #B33F00, #662400);
}

p {
    text-align: justify;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #662400;
    margin: auto;
    padding: 10px;
    width: 600px;
}

h2 {
    color: #006663;
}

h1 {
    color: #B33F00;
    text-align: center;
    text-shadow: 1px 1px 1px #662400be;
}